.container-wrapper {
    background-color: #303030;
    height: 100vh;
    overflow: auto;
}

.container {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.btn-number {
    height: 90%;
    width: 100%;
    font-size: 3em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.btn-action {
    height: 90%;
    width: 100%;
    font-size: 1.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.input-main {
    height: 100%;
    width: 100%;
    font-size: 5em;
    text-align: right;
    background-color: #303030;
    border: none;
    margin-right: 0.3em;
    margin-left: 0.3em;
}